<h1>Session#login</h1>
<p>Find me in app/views/session/login.html.erb</p>
<%= form_with url: session_create_url, method: :post, local:true do |f| %>
  <%= f.text_field :username, required: true, label: 'username' %>
  <%= f.password_field :password, required: true, label: 'password' %>
  <%= f.submit 'log in' %>
<% end %>

<%= link_to 'sign up', new_user_path %>
